// I would like to do it like this but it doesn't seem to work
//:host {
//  --table-header-cell-bg-color: red;
//}
//
//::ng-deep .mat-mdc-header-cell {
//  background-color: var(--table-header-cell-bg-color);
//}
