<ng-container [matColumnDef]="prop()"
>
  <mat-header-cell *matHeaderCellDef
      class="draggable-element"
      [style.background-color]="styleHeaderBgColor()"
      cdkDrag
      cdkDragLockAxis="x"
      (cdkDragStarted)="startedDrag($event)"
  >
      <!-- [cdkDragData]="{ name: prop() }" -->
    <!-- <span class="drag-handle" cdkDragHandle> -->
    <!--   ⠿ -->
    <!-- </span> -->
    <span > {{ label() ?? prop() }}</span>
  </mat-header-cell>
  <mat-cell *matCellDef="let row"
      [style.padding]="cellPadding()"
  >
    @if(cellTemplate) {
      <ng-container
        *ngTemplateOutlet="cellTemplate; context: { $implicit: row }"
      >
      </ng-container>
    }
    @else {
      {{ row[prop()] }}
    }
  </mat-cell>
</ng-container>
