@if (toolbar) {
  <div class="table-toolbar">
    <ng-container
      *ngTemplateOutlet="
        toolbar.toolbarTemplate;
        context: {
          $implicit: dataSource,
          displayedColumns: displayedColumns,
        }
      "
    ></ng-container>
  </div>
}
<mat-table
  [dataSource]="dataSource()"
  class="mat-elevation-z8"
  matSort
  (matSortChange)="onSortChange($event)"
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="onDropColumn($event)"
  [cdkDropListData]="displayedColumns()"
>
  @for (columnName of displayedColumns(); track columnName) {
    @let column = columnsRegistry.get(columnName)!;
    <ng-container columnRef [matColumnDef]="column.prop()">
      <mat-header-cell
        *matHeaderCellDef
        [style.background-color]="column.styleHeaderBgColor()"
        mat-sort-header
        [disabled]="!column.sortable()"
        cdkDrag
        cdkDragLockAxis="x"
        [cdkDragData]="column.prop()"
        [cdkDragDisabled]="!column.draggable()"
        [class.no-drag-animation]="!column.draggable()"
      >
        <!-- <span class="drag-handle" cdkDragHandle> -->
        <!--   ⠿ -->
        <!-- </span> -->
        <ng-container *ngTemplateOutlet="column.headerTemplate"></ng-container>
      </mat-header-cell>
      <mat-cell
        *matCellDef="let row"
      >
        <!-- if you try to add style to cell without removing the flex grow of columns layout breaks completly -->
        <!-- [style.padding]="column.cellPadding()" -->
          <ng-container
            *ngTemplateOutlet="
              column.cellTemplate;
              context: {
                $implicit: row,
                activateEdit: activateEdit.bind(this),
                cancelEdit: cancelEdit.bind(this),
                saveEdit: saveEdit.bind(this),
              }
            "
          ></ng-container>
      </mat-cell>
    </ng-container>
  }

  <mat-header-row *matHeaderRowDef="displayedColumns()"></mat-header-row>
  <mat-row *matRowDef="let data; columns: displayedColumns()"></mat-row>
</mat-table>
<mat-paginator
  [length]="0"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 25, 100]"
  showFirstLastButtons
  [attr.aria-label]="'common.pagination.selectPage'"
  (page)="onPageChange($event)"
></mat-paginator>
