<table
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8"
  matSort
  (matSortChange)="onSortChange($event)"
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="onDropColumn($event)"
  [cdkDropListData]="displayedColumns()"
>
  @for (columnName of displayedColumns(); track columnName) {
    @let column = columnsRegistry.get(columnName)!;
    <ng-container columnRef [matColumnDef]="column.prop()">
      <th
        mat-header-cell
        *matHeaderCellDef
        [style.background-color]="column.styleHeaderBgColor()"
        mat-sort-header
        [disabled]="!column.sortable()"
        cdkDrag
        cdkDragLockAxis="x"
        [cdkDragData]="column.prop()"
        [cdkDragDisabled]="!column.draggable()"
        [class.no-drag-animation]="!column.draggable()"
      >
        <!-- <span class="drag-handle" cdkDragHandle> -->
        <!--   ⠿ -->
        <!-- </span> -->
        @if (column.headerTemplate) {
          <ng-container *ngTemplateOutlet="column.headerTemplate"></ng-container>
        } @else {
          <span> {{ column.label() ?? column.prop() }}</span>
        }
      </th>
      <td mat-cell *matCellDef="let row" [style.padding]="column.cellPadding()">
        @if (column.cellTemplate) {
          <ng-container
            *ngTemplateOutlet="
              column.cellTemplate;
              context: {
                $implicit: row,
                activateEdit: activateEdit.bind(this),
                cancelEdit: cancelEdit.bind(this),
                saveEdit: saveEdit.bind(this),
              }
            "
          ></ng-container>
        } @else {
          @if (column.valueAccessor()) {
            {{ column.valueAccessor()!(row) }}
          } @else {
            {{ row[column.prop()] }}
          }
        }
      </td>
    </ng-container>
  }

  <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
  <tr mat-row *matRowDef="let data; columns: displayedColumns()"></tr>
</table>
<mat-paginator
  [length]="0"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 25, 100]"
  showFirstLastButtons
  [attr.aria-label]="'common.pagination.selectPage'"
  (page)="onPageChange($event)"
></mat-paginator>
