<table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
      cdkDropList
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="dropColumn($event)"
      [cdkDropListData]="displayedColumns()"
>
  @for(columnName of displayedColumns(); track columnName) {
  @let column = columnsToDisplayColumns.get(columnName)!;
    <ng-container columnRef [matColumnDef]="column.prop()">
      <th mat-header-cell *matHeaderCellDef
        class="draggable-element"
        [style.background-color]="column.styleHeaderBgColor()"
        cdkDrag
        cdkDragLockAxis="x"
        [cdkDragData]="column.prop"
      >
    <!-- <span class="drag-handle" cdkDragHandle> -->
    <!--   ⠿ -->
    <!-- </span> -->
        @if(column.headerTemplate) {
          <ng-container
            *ngTemplateOutlet="column.headerTemplate"
          ></ng-container>
        } @else {
          <span> {{ column.label() ?? column.prop() }}</span>
        }
      </th>
      <td mat-cell *matCellDef="let row"
        [style.padding]="column.cellPadding()"
      >
        @if(column.cellTemplate) {
          <ng-container
            *ngTemplateOutlet="column.cellTemplate; context: { $implicit: row }"
          ></ng-container>
        }
        @else {
          @if(column.valueAccessor()) {
            {{ column.valueAccessor()!(row) }}
          } @else {
            {{ row[column.prop()] }}
          }
        }
      </td>
    </ng-container>
  }

  <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
  <tr mat-row *matRowDef="let data; columns: displayedColumns();"></tr>
</table>
<mat-paginator
  [length]="0"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 25, 100]"
  showFirstLastButtons
  [attr.aria-label]="'common.pagination.selectPage'"
  (page)="onPageChange($event)"
></mat-paginator>
